@{
    ViewBag.Title = "Execute Rule Set";
}

<fieldset>
    <legend><img src="@Url.Content("~/Content/RaiseEvent32.png")" align="middle"/> Execute Rule Set (GET)</legend>
    @using (Ajax.BeginForm("ExecuteRuleSet", "RuleExecution", new AjaxOptions { UpdateTargetId = "xmlresponse", HttpMethod = "POST", OnBegin = "DisableForm('ajaxForm')", OnComplete = "EnableForm('ajaxForm')" }, new { ID = "ajaxForm" }))
    {
        <div>
            Inputs:<span style="float: right;"><a onclick="buildTestData(true);">[show sample request]</a></span>
        </div>
              
        <div class="editor-label">
            @Html.Label("Rule App Name:")
        </div>
        <div class="editor-field">
            @Html.Editor("RuleApp")
        </div>
        <div class="editor-label">
            Rule Set Type:
        </div>
        <div class="editor-field">
            <input type="radio" id="rsinputExplicit" value="explicit" checked="checked" name="test" onclick="EnableExplicitRuleSetControls(true);"/>Explicit
            <input type="radio" id="rsinputIndependent" value="independent" name="test" onclick="EnableExplicitRuleSetControls(false);"/>Independent
        </div>
        
        <div id="RuleSetLabel" class="editor-label">
            @Html.Label("Rule Set:")
        </div>
        <div class="editor-field">
            @Html.Editor("RuleSet")
        </div>

         <div id="rsParamsContainerLabel" class="editor-label">
            @Html.Label("Parameters:")
        </div>
        <div id="rsParamsContainer" class="container">
            <div class="row">
                <div class="headercol"></div>
                <div class="headercol">Name</div>
                <div class="headercol">Value</div>
            </div>
            <div class="row" id='rsRow1'>
                <div class="firstcol" ><img alt="delete" src="@Url.Content("~/Content/delete_12x12.png")" onclick="DeleteParameter(rsParamsContainer, rsRow1);" /></div>
                <div class="col"><input id="exreqParam1" name="rsParam1" type="text" class="gridcell" /></div>
                <div class="col"><input id="exreqValue1" name="rsValue1" type="text" class="gridcell" /></div>
            </div>
        </div>
        <div>
            <input id="rsParamsButton" type="button" value="add parameter" class="button" onclick="AddParameter(rsParamsContainer, 'rs')" />
        </div>
        
        <div id="EntityLabel" class="editor-label">
            @Html.Label("Entity Name:")
        </div>
        <div class="editor-field">
            @Html.Editor("Entity")
        </div>

        <div id="EntityXmlLabel" class="editor-label">
            @Html.Label("Entity XML:")
        </div>
        <div class="editor-field">
            @Html.TextArea("EntityXml")
        </div>

        <div class="editor-label">
            @Html.Label("Return Entity:")
        </div>
        <div class="editor-field">
            @Html.Editor("ReturnEntity")
        </div>

        <div class="editor-label">
            @Html.Label("Response Type:")
        </div>
        <div class="editor-field">
            <div class="input" id="repsonseTypeContainer">
                <input type="checkbox" class="checkbox" value="EntityXml" /><span class="checkbox">EntityXml</span>
                <input type="checkbox" class="checkbox" value="NotificationsXml" /><span class="checkbox">NotificationsXml</span>
                <input type="checkbox" class="checkbox" value="NotificationsText" /><span class="checkbox">NotificationsText</span>
                <input type="checkbox" class="checkbox" value="ValidationsXml" /><span class="checkbox">ValidationsXml</span>
                <input type="checkbox" class="checkbox" value="ValidationsText" /><span class="checkbox">ValidationsText</span>
                <input type="checkbox" class="checkbox" value="ExecutionLogXml" /><span class="checkbox">ExecutionLogXml</span>
                <input type="checkbox" class="checkbox" value="ExecutionLogText" /><span class="checkbox">ExecutionLogText</span>
                <input type="checkbox" class="checkbox" value="PerformanceStatisticsReport" /><span class="checkbox">PerformanceStatisticsReport</span>
                <input type="checkbox" class="checkbox" value="RuleExecutionReport" checked="checked"/><span class="checkbox">RuleExecutionReport</span>
                <input type="checkbox" class="checkbox" value="RuleExecutionResponseXml" /><span class="checkbox">RuleExecutionResponseXml</span>
            </div>
            @Html.Hidden("ResponseType")
        </div>
        
         <div>
            <input type="submit" value="execute" onclick="ResponseType.value=GetResponseTypeString(repsonseTypeContainer);" />
            @Html.Partial("_Working")
        </div>
    }

    <div id="xmlresponse">
        <div class="editor-label">Output:</div>
        <div class="output">
            <span id="outputExecuteRules">output will appear here.</span>
        </div>
    </div>

</fieldset>
